body {
}
.majorHeading {
    font-family: Georgia;
    font-weight: bold;
    color: black;
    font-size: xx-large;
}

.minorHeading {
    font-family: Georgia;
    font-weight: bold;
    color: white;
    font-size: x-large;
}

.generalText {
    font-family: Georgia;
    color: #b5d5d2;
    font-size: medium;
}

.buttonFormatting {
    background-color: #FF9933;
    border: 2px solid black;
    color: #b5d5d2;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: medium;
    font-family: Georgia;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

    .buttonFormatting:hover {
        background-color: #FFD1A3;
        color: #557A95;
    }


